NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_PROFESSIONAL=price_1UNsRKFYs01yNiRgppca6uEn
STRIPE_PRICE_ROLLERS=price_1UNsRQFYs01yNiRgtK2TVEvD
STRIPE_PRICE_WHEELS=price_1UNsRSFYs01yNiRgmpVLdwBM
STRIPE_PRICE_UNLIMITED=price_1UNsRUFYs01yNiRgcNGY4F5o
STRIPE_PORTAL_CONFIGURATION=bpc_1UNsfQFYs01yNiRgAticH9Uu
